$maxPercentage: 100%;
$labelTitleFontSize: 16px;
$buttonFontFamily: Helvetica, sans-serif;
$buttonColor: #FF69B4;

@mixin flexRowSpaceAround() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumnCenter() {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonArrayContainer {
  width: $maxPercentage;
  height: $maxPercentage;
  .buttonRowContainer {
    @include flexRowSpaceAround();
      .buttonArray {
        background-color: white;
        margin: 2%;
        width: 100%;
        height: 100px;
        border: solid 2px $buttonColor;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        color: $buttonColor;
        font-family: $buttonFontFamily;
        font-size: $labelTitleFontSize;
        font-weight: bold;
        @include flexColumnCenter();
        &:hover {
          border-color: darken($buttonColor, 30%);
          color: darken($buttonColor, 30%);
        }
        @media (max-width: 750px) {
          height: 50px;
          font-size: 12px;
        }
      }
  }
}


