$maxPercentage : 100%;
$titleFontSize : 25px;
$menuIconSize: 40px;
$fontFamily: Helvetica, sans-serif;


@mixin flexRowSpaceMiddle() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuContainer {
  width: $maxPercentage;
  @include flexRowSpaceMiddle();
  .menuTitle {
    font-family: $fontFamily;
    font-size: $titleFontSize;
    font-weight: lighter;
  }
}

.linkMenu {
  font-size: $menuIconSize;
  text-decoration: none;
  color: black;
  &:focus {
    color: black;
  }
}

