@import '../../Components/buttonArray/buttonArray.scss';
@import '../../Components/modal/modal.scss';
@import '../../Components/reporting/reporting.scss';
@import '../../Components/ButtonPack/buttonPack.scss';
$fontReportTitle: Helvetica, sans-serif;
$fontReportSize: 22px;
$fontLabelSize: 18px;
$fontInputSize: 16px;
$buttonColor: #FF69B4;

@mixin displayFlexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin displayFlexRowEnd() {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.reportTitle {
  font-family: $fontReportTitle;
  font-size: 16px;
  font-weight: normal;
}

.formContainer {
  padding: 20px;
  @include displayFlexColumn();
  .modalTitle {
    font-family: $fontReportTitle;
    font-size: $fontReportSize;
  }
  .valueLabel {
    height: 100%;
    width: 100%;
    margin: 10px 0;
    font-size: $fontLabelSize;
    font-family: $fontReportTitle;
    @include displayFlexColumn();
  }
  .inputLabel {
    min-height: 100px;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    border: gray solid 1px;
    font-size: $fontInputSize;
    padding: 10px;
    box-sizing:border-box;
    margin-bottom: 20px;
  }
  .inputPrice {
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    border-radius: 10px;
    font-size: $fontInputSize;
    border: gray solid 1px;
    padding: 10px;
    box-sizing:border-box;
    margin-bottom: 20px;

  }

  .validateButton {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid $buttonColor;
    border-radius: 5px;
    font-family: $fontReportTitle;
    font-size:$fontReportSize;
    font-weight: bold;
    color: $buttonColor;
    outline: none;
    &:hover {
      cursor: pointer;
      border: 2px solid darken($buttonColor, 30%);
      color: darken($buttonColor, 30%);
    }
  }
}

.confirmContainer {
  padding: 20px;
  @include displayFlexColumn();
  .confirmButtons {
    width: 100%;
    @include displayFlexRowEnd();
  }
  .confirmMessage {
    font-size: $fontReportSize;
    font-family: $fontReportTitle;
  }
}

.confirmCancelButton {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: darkred;
  color:white;
  font-size: $fontInputSize;
  font-family: $fontReportTitle;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: darken(darkred, 10%);
  }
}

.confirmValidateButton {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: $fontInputSize;
  font-family: $fontReportTitle;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: darken(green, 10%);
  }
}