@import '../../Components/buttonArray/buttonArray.scss';
@import '../../Components/modal/modal.scss';
@import '../../Components/reporting/reporting.scss';
@import '../../Components/ButtonPack/buttonPack.scss';
$fontReportTitle: Helvetica, sans-serif;
$fontReportSize: 20px;

.reportTitle {
  font-family: $fontReportTitle;
  font-size: $fontReportSize;
  font-weight: lighter;
}